.presentation {
	color: #000;
	line-height: normal;

	.anchor {
		opacity: 0;
		position: absolute;
	}

	address {
		display: block;
		padding-left: 20px;
		span {
			display: block;
			margin-bottom: 7px;
		}
	}

	.tab-pane {
		height: 100%;
		display: none;
		position: relative;

		&.active {
			display: block;
		}
	}

	h2 {
		font-size: 50px;
		.black;
		margin: 0 0 34px;
	}

	.btn {
		letter-spacing: 0px;
		max-width: 100%;

		&.btn-lg {
			height: 70px;
			line-height: 68px;
			padding: 0 48px;
			font-size: 22px;
		}

		&.btn-yellow {
			background: #dec300;
		}
	}

	.btn-down {
		position: absolute;
		bottom: 35px;
		left: 50%;
		margin-left: -23px;
		cursor: pointer;
	}

	#main {
		height: 100%;
		overflow: visible;
		position: relative;
		padding-top: 5.8rem;

		&.height_auto {
			height: auto;
			min-height: 100%;
		}
	}

	.carousel {
		height: 100%;
		overflow: hidden;
		position: relative;

		p {
			font-size: 22px;
			margin-bottom: 40px;
		}

		img {
			display: block;
			max-width: 100%;
		}

		.carousel-inner {
			height: 100%;
		}

		.item {
			height: 100%;
			float: left; 
			width: 100%;
			min-height: 460px;
			background-size: cover !important;
			
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
				height: 28%;
				max-height: 226px;
			}

			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				opacity: 0.56;

			}
			&:nth-child(1) {
				background: url(../img/presentation/1.jpg) 50% 0 no-repeat;
			}
			&:nth-child(2) {
				background: url(../img/presentation/2.jpg) 50% 0 no-repeat;
			}
			&:nth-child(3) {
				background: url(../img/presentation/3.jpg) 50% 50% no-repeat;
			}
			&:nth-child(4) {
				background: url(../img/presentation/4.jpg) 50% 50% no-repeat;
			}
		}

		.carousel-caption {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			font-size: 0;
			color: #fff;

			&:after {
				content: "";
				height:100%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.carousel-caption-holder {
			display: inline-block;
			vertical-align: middle;
		}

		.slider-logo {
			background: url(../img/presentation/logo_presentation2.png) 0 0 no-repeat;
			width: 65px;
			height: 56px;
			display: block;
			margin: 0 auto -20px;
		
			a {
				display: block;
				height: 100%;
			}
		}

		.slogan {
			display: block;
			width: 100%;
			text-align: center;
			.light;
			font-weight: normal;
			font-size: 110px;
			line-height: normal;
			margin-bottom: 5px;
		}

	} // .carousel

	.section-main {

		.section-main__holder {
			max-width: 1230px;
			padding: 0 10px;
		}

	}

	.main-section {
		padding: 0 80px;
		max-width: 2048px;
		margin: 0 auto;
		height: 100%;
		font-size: 0;
		overflow: hidden;

		&.main-section_theme_grey {
			background: #f5f5f5;
		}

		p {margin-bottom: 40px;}

		.visual {
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
			padding: 20px 0 0;

			&.visual_align_right {
				float: right;

				+ .text-holder {
					text-align: right;


				}
			}

			&.visual_valign_bottom {
				img {
					vertical-align: bottom;
				}
			}

			&:after {
				content: "";
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}

			img {
				max-width: 100%;
				max-height: 100%;
				vertical-align: middle;
			}
		}

		.text-holder {
			width: 50%;
			padding: 0 110px;
			font-size: 0;
			float: left;
			height: 100%;
			text-align: center;

			&:after {
				content: "";
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.text-frame {
			display: inline-block;
			vertical-align: middle;
			font-size: 22px;
			text-align: left;
			max-width: 610px;
		}

		.btn {
			margin-bottom: 40px;
		}
	} // .main-section

	.circled-list {
		margin-bottom: 31px;
		list-style: none;

		li {
			padding-left: 23px;
			position: relative;
			margin-bottom: 18px;
			line-height: 28px;

			&:before {
				content: "";
				width: 12px;
				height: 12px;
				border-radius: 100%;
				background: @link_color;
				display: inline-block;
				margin-left: -23px;
				margin-right: 10px;
			}
		}
	}

	.icon-play {
		background: url(../img/presentation/icon-play.png) 0 0 no-repeat;
		display: inline-block;
		vertical-align: middle;
		width: 51px;
		height: 51px;
	}

	.btn-app-store {
		background: url(../img/presentation/btn-app-store.png) 0 0 no-repeat;
		background-size: cover;
		width: 209px;
		height: 70px;
		display: inline-block;
	}

	.price-section {
		background: #2a343c;
		color: #fff;
		font-size: 22px;
		position: relative;
		z-index: 1049;

		&.price-section_theme_two-colors {
			overflow: hidden;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				height: 100%;
				width: 100%;
				left: 50%;
				top: 0;
				margin-left: -25px;
				background: url(../img/presentation/bg-price-section.png) 0 50% no-repeat;
			}

			&:before {
				content: "or";
				position: absolute;
				font-size: 22px;
				border-radius: 100%;
				width: 51px;
				height: 51px;
				line-height: 49px;
				background: #4c6170;
				top: 50%;
				left: 50%;
				margin: -25px 0 0 -25px;
				text-align: center;
				z-index: 4;
			}
		}

		.price-section__holder {
			max-width: 1460px;
			padding: 60px 10px;
			margin: 0 auto;

			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}

		.price-section__column {
			width: 42.9%;
			float: right;
			position: relative;
			z-index: 2;

			&:first-child {
				float: left;
			}

			.btn {margin-top: 20px;}
		}

		.price-section__price-text {
			display: block;
			font-size: 24px;

			span {
				font-size: 44px;
				color: #d9a600;
			}
		}
	}
	.thanks-box {
		

		h4 {
			text-align: center;
			font-size: 46px;
			.black;
			color: #000;
			margin: 0 0 20px;
		}
	}
}

.information-holder {
	background: #fff;
	max-width: 1420px;
	margin: 60px auto;
	padding: 30px 55px 30px 130px;

	p {
		margin-bottom: 35px;
		font-size: 18px;
		line-height: 38px;
	}

	h2 {
		.bold;
		font-size: 40px;
		margin-left: -80px;
		margin-bottom: 50px;
	}

	h3 {
		.light;
		font-size: 28px;
		color: #606e78;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

}

@media (max-width: 767px){
	
	.presentation {
		.circled-list li {
			margin-bottom: 4px;
		}
		h2 {
			font-size: 23px;
		}
		.icon-play {
			width: 25px;
			height: 25px;
			background-size: cover;
		}
		#main {
			height: auto;
		}
		.btn {
			margin: 0 auto;
			display: block;
			width: 206px;

			&.btn-lg {
				font-size: 16px;
				padding: 0 15px;
				height: 44px;
				line-height: 44px;
				border-radius: 2px;
			}
		}
		.btn-app-store {
			width: 178px;
			height: 44px;
			background-size: cover;
			margin: 0 auto;
			display: block;
			background: url(../img/presentation/btn-app-store_mobile.png) 0 0 no-repeat;
		
			&.inline-block {
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
			}
		}
		.carousel  {
			height: auto;

			.slider-logo {
				width: 23px;
				height: 18px;
				background-size: cover;
				margin-bottom: 7px;
			}
			.carousel-caption {
				padding: 10px 0;
			}
			.carousel-caption-holder {
				max-width: 100%;
				padding: 0 10px;
			}
			.slogan {
				font-size: 35px;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
				margin-bottom: 10px;
			}
			.btn-down {
				.icon-arrow-down_white;
				margin-left: -7px;
				bottom: 17px;
			}
		} // .carousel

		.main-section {
			padding: 30px 10px 10px;

			.btn {
				margin-bottom: 20px;
			}

			.visual {
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}

			.text-holder {
				width: 100%;
				padding: 0;
				text-align: left;
			}

			.text-frame {
				font-size: 16px;
			}
		} // .main-section

		#main {
			padding-top: 4.8rem;
		}

	}
	.information-holder {
		background: transparent;
		margin: 0;
		padding: 20px;

		h2 {
			font-size: 17px;
			margin: 0 0 13px;
		}

		h3 {
			font-size: 14px;
			margin-bottom: 11px;
		}

		p {
			font-size: 13px;
			margin-bottom: 14px;
			line-height: 19px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.presentation {

		h2 {
			font-size: 22px;
			margin-bottom: 15px;
		}
		.icon-play {
			width: 20px;
			height: 20px;
			background-size: cover;
		}
		.btn {
			min-width: 172px;
			border-radius: 2px;

			&.btn-lg {
				font-size: 12px;
				padding: 0 15px;
				height: 38px;
				line-height: 38px;
			}
		}
		.btn-app-store {
			width: 107px;
			height: 34px;
			background-size: cover;
		}
		.carousel  {
			.slider-logo {
				width: 23px;
				height: 18px;
				background-size: cover;
				margin-bottom: 7px;
			}
			.carousel-caption {
				padding: 10px 0;
			}
			.carousel-caption-holder {
				max-width: 100%;
				padding: 0 10px;
			}
			.slogan {
				font-size: 37px;
				margin-bottom: 11px;
			}
			p {
				font-size: 10px;
				margin-bottom: 20px;
			}
			.btn-down {
				.icon-arrow-down_white;
				margin-left: -7px;
				bottom: 17px;
			}
		} // .carousel

		.main-section {
			height: 50%;
			padding: 30px 30px 0;

			.btn {
				margin-bottom: 20px;
			}

			.visual {
				padding: 0 10px;
			}

			.text-holder {
				padding: 0 30px 0 45px;
			}

			.text-frame {
				font-size: 12px;
			}

			p {margin-bottom: 10px;}
		} // .main-section
		.circled-list li {
			padding-left: 10px;
			line-height: normal;
			margin-bottom: 10px;

			&:before {
				width: 7px;
				height: 7px;
				margin-left: -10px;
				margin-right: 4px;
			}
		}

		#main {
			padding-top: 3.7rem;
		}
	}
	.information-holder {
		width: auto;
		margin: 50px;
		padding-left: 70px;
		padding-right: 41px;

		h2 {
			font-size: 20px;
			margin-bottom: 15px;
			margin-left: -35px;
		}

		h3 {
			font-size: 14px;
			margin-bottom: 15px;
		}

		p {
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 25px;
		}
	}
} // 769 - 1024

@media (min-width: 1024px) and (max-width: 1320px){
	.presentation {

		h2 {
			font-size: 45px;
		}
		.icon-play {
			width: 25px;
			height: 25px;
			background-size: cover;
		}

		.btn {
			min-width: 300px;

			&.btn-lg {
				font-size: 22px;
				padding: 0 15px;
				height: 62px;
				line-height: 62px;
			}
		}
		.carousel  {

			.btn {
				display: inline-block;
			}

			.slider-logo {
				margin-bottom: 20px;
			}

			.carousel-caption {
				padding: 20px 0;
			}
			.carousel-caption-holder {
				max-width: 100%;
				padding: 0 10px;
			}
			.slogan {
				font-size: 75px;
				line-height: 75px;
				margin-bottom: 25px;
			}
			p {
				font-size: 24px;
				margin-bottom: 20px;
			}
		} // .carousel

		.main-section {
			padding: 30px 10px 10px;

			.btn {
				margin-bottom: 20px;
			}

			.text-holder {
				padding: 0 30px;
			}

			.text-frame {
				font-size: 16px;
			}
		} // .main-section
	}
}

@media (min-width: 1025px) and (max-width: 1600px) {
	.presentation {
		#main {
			padding-top: 4.5rem;
		}
	}
}